language: php
php :
  - 5.6

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script:
    - vendor/bin/phpunit --coverage-clover=coverage.xml

after_success:
    - bash <(curl -s https://codecov.io/bash)

notifications:
  email: false